# Run e2e-tests
#
# These actions are skipped for draft PRs.
# See https://github.community/t/dont-run-actions-on-draft-pull-requests/16817/19
name: test-e2e
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  test-e2e:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          # Full git history is needed to get a Git tags which are used to
          # calculate a valid semver for the Helm chart
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - uses: actions/cache@v4
        with:
          path: _bin/downloaded
          key: downloaded-${{ runner.os }}-${{ hashFiles('make/tools.mk') }}-${{ hashFiles('make/image-preload.mk') }}
      - run: make -j tools images test-e2e
